/* Base styles for the profile page */
.profile-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white !important;
  border-radius: 40px 40px 0px 0px;
}

/* Styling for user information section */
.user-information-section {
  margin-bottom: 20px;
}

/* Styling for tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  background-color: #007bff;
  color: #fff;
}

/* Styling for news cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Styling for individual news card */
.news-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

/* Styling for news card image */
.news-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Styling for news card title */
.news-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styling for news card description */
.news-card p {
  font-size: 14px;
  color: #666;
}

/* Styling for settings icon */
.settings-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user-avatar {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
}

.thumbnail {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 8px;
}


.back-to-home-button {
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease; /* Smooth transition */

  /* Hover effect */
  &:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .profile-page {
    padding: 10px;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .tab {
    margin-bottom: 10px;
  }
}
